<!DOCTYPE html>
<html lang="en">
<head>
   <title>Register</title>
    <link rel="preload" as="image" href="<%= asset_path('blk2.jpg') %>">
</head>

<body class="" >
  <div style="background-image: url(<%= asset_path('blk2.jpg') %>);" class="bg-cover md:h-screen">

  <!-- Navigation Bar -->
  <%= render 'devise/shared/nav' %>
  <hr class="border-gray-600">

  <div class="text-white relative overflow-hidden font-[Montserrat] flex justify-center items-end">

    <!-- Main Content -->
    <div class="backdrop-blur-md bg-white/15 w-[92%] md:w-[60%] my-[1%] md:mt-[4%] rounded-2xl flex justify-end items-end">
      <!-- component -->

      <div class="w-full md:w-[65%]  p-4 md:float-right mr-2">

        <!-- Add this to display flash messages -->
        <% if flash[:alert] %>
        <div id="flash-alert" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
          <%= flash[:alert] %>
        </div>
        <% elsif flash[:notice] %>
          <div id="flash-notice" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
          <%# avatar upload %>
          <div class="mx-auto w-16 text-center ">
            <div class="w-8 h-8 md:w-16 md:h-16 group rounded-full cursor-pointer transition duration-500 bg-cover bg-center relative"
              style="background-image: url('<%= @user.avatar_public_id.present? ? Cloudinary::Utils.cloudinary_url(@user.avatar_public_id, width: 150, height: 150, crop: :fill) : asset_path('imageavatar.jpg') %>');">
              <!-- Background Overlay -->
              <div class="absolute inset-0 bg-black bg-opacity-30 rounded-full"></div>
            </div>

             <!-- Upload Button -->
            <div class="relative z-10 flex justify-center items-center h-full">
            <%= f.label :avatar, class: "text-white  hover:bg-blue-600 text-sm font-semibold py-1 px-3 rounded-md cursor-pointer transition-colors" do %>
              Upload
              <%= f.file_field :avatar, class: "opacity-0 absolute inset-0 w-full h-full cursor-pointer" %>
            <% end %>
            </div>
          </div>

          <div>
            <h2 class="text-xl md:text-2xl font-semibold mb-1">Create account</h2>
            <p class="text-lg text-gray-400">For business, band or celebrity.</p>
          </div>

          <!-- Registration Form -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-1">
            <div>
              <%= f.label :first_name, "First Name", class: "block text-sm mb-1" %>
              <%= f.text_field :first_name, class: "text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500", placeholder: "Enter your first name" %>
            </div>
            <div>
              <%= f.label :last_name, "Last Name", class: "block text-sm mb-1" %>
              <%= f.text_field :last_name, class: "text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500", placeholder: "Enter your last name" %>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-1">
            <div>
              <%= f.label :email, "Email", class: "block text-sm mb-1" %>
              <%= f.email_field :email, class: "text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500", placeholder: "Enter your email" %>
            </div>
            <div>
              <%= f.label :phone_number, "Phone Number", class: "block text-sm mb-1" %>
              <%= f.telephone_field :phone_number,
               class: "text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500",
                placeholder: "Enter your phone number",
                id: "phone_number", 
                maxlength: "10", 
                title: "Please enter a 10-digit phone number" 
               %>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-1">
            <!-- Password field with toggle -->
            <div>
              <%= f.label :password, "Password", class: "block text-sm mb-1" %>
              <div class="relative">
                <%= f.password_field :password, id: "password-field", class: "text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500 pr-10", placeholder: "Enter your password" %>
                <button type="button" onclick="togglePassword('password-field', 'eye-icon-1')" class="absolute right-2 top-2 text-gray-600">
                  <svg id="eye-icon-1" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
                </button>
              </div>
            </div>

            <!-- Confirm Password field with toggle -->
            <div>
              <%= f.label :password_confirmation, "Confirm Password", class: "block text-sm mb-1" %>
              <div class="relative">
                <%= f.password_field :password_confirmation, id: "password-confirmation-field", class: "text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500 pr-10", placeholder: "Confirm your password" %>
                <button type="button" onclick="togglePassword('password-confirmation-field', 'eye-icon-2')" class="absolute right-2 top-2 text-gray-600">
                  <svg id="eye-icon-2" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          
          <!-- Remember me checkbox -->
          <div class="space-y-2 mt-4">
            <div class="flex items-center">
              <%= f.check_box :remember_me, class: "w-4 h-4 text-blue-500 rounded border-gray-300 focus:ring-blue-500" %>
              <label class="ml-2 text-sm">Remember me</label>
            </div>
          </div>

          <div>
            <%= f.submit "Sign Up", class: "w-full md:w-[35%] py-2 bg-blue-500 hover:bg-blue-600 rounded-md text-white transition-colors mt-2 md:mt-6" %>
          </div>
        <% end %>

        <p class="mt-3 text-sm">
          Already have an account?
          <a href="sign_in" class="text-blue-500 hover:text-blue-600">Log in</a>
        </p>
      </div>
    </div>
  </div>
  </div>
  
  <script>
    // Automatically remove the flash message after 3 seconds
    setTimeout(() => {
      const flashAlert = document.getElementById('flash-alert');
      if (flashAlert) {
        flashAlert.remove();
      }
    }, 3000); 
  </script>
  <script>
  function togglePassword(fieldId, iconId) {
    const field = document.getElementById(fieldId);
    const icon = document.getElementById(iconId);
    if (field.type === "password") {
      field.type = "text";
    } else {
      field.type = "password";
    }
  }
</script>


</body>

</html>