<!DOCTYPE html>
<html lang="en">
<head>
   <title>Reports</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bg-gray-100 m-auto">

   <div id="main-content" class="flex-1 transition-all duration-300">
      <div>
         <%= render 'devise/shared/navbar' %>
      </div>

      <%# main content %>

      <div class="w3-container">
         <div class="rounded-xl bg-gray-100 mx-1 mt-[20%] md:mt-[7%]">
            <div class="container mx-1 md:mx-2 p-2 md:p-6">
               <% if current_user.has_role?(:admin) %>
                  <div class="flex flex-col md:flex-row justify-end space-y-2 md:space-y-0 md:space-x-2 mb-4">
                     <div class="flex justify-end gap-2 md:gap-4">
                        <%= link_to upload_manage_users_path, class: "px-3 py-1 md:px-4 md:py-2 text-xs md:text-sm font-medium text-center inline-flex items-center text-blue-600 hover:text-white bg-white rounded-lg hover:bg-blue-500 focus:outline-none focus:ring-blue-300 shadow" do %>
                           <svg class="w-4 h-4 md:w-5 md:h-5 text-black me-1 md:me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 312.602 312.602" fill="currentColor">
                              <path d="M251.52,137.244c-3.966,0-7.889,0.38-11.738,1.134c-1.756-47.268-40.758-85.181-88.448-85.181 c-43.856,0-80.964,32.449-87.474,75.106C28.501,129.167,0,158.201,0,193.764c0,36.106,29.374,65.48,65.48,65.48h54.782 c4.143,0,7.5-3.357,7.5-7.5c0-4.143-3.357-7.5-7.5-7.5H65.48c-27.835,0-50.48-22.645-50.48-50.48c0-27.835,22.646-50.48,50.48-50.48 c1.367,0,2.813,0.067,4.419,0.206l7.6,0.658l0.529-7.61c2.661-38.322,34.861-68.341,73.306-68.341 c40.533,0,73.51,32.977,73.51,73.51c0,1.863-0.089,3.855-0.272,6.088l-0.983,11.968l11.186-4.367 c5.356-2.091,10.99-3.151,16.747-3.151c25.409,0,46.081,20.672,46.081,46.081c0,25.408-20.672,46.08-46.081,46.08 c-0.668,0-20.608-0.04-40.467-0.08c-19.714-0.04-39.347-0.08-39.999-0.08c-4.668,0-7.108-2.248-7.254-6.681v-80.959l8.139,9.667 c2.667,3.17,7.399,3.576,10.567,0.907c3.169-2.667,3.575-7.398,0.907-10.567l-18.037-21.427c-2.272-2.699-5.537-4.247-8.958-4.247 c-3.421,0-6.686,1.548-8.957,4.247l-18.037,21.427c-2.668,3.169-2.262,7.9,0.907,10.567c1.407,1.185,3.121,1.763,4.826,1.763 c2.137,0,4.258-0.908,5.741-2.67l7.901-9.386v80.751c0,8.686,5.927,21.607,22.254,21.607c0.652,0,20.27,0.04,39.968,0.079 c19.874,0.041,39.829,0.081,40.498,0.081c33.681,0,61.081-27.4,61.081-61.08C312.602,164.644,285.201,137.244,251.52,137.244z"></path>
                           </svg>
                           <span class="hidden sm:inline">Upload Patient</span>
                        <% end %>

                        <%= link_to new_manage_user_path, class: "px-3 py-1 md:px-4 md:py-2 text-xs md:text-sm font-medium text-center inline-flex items-center text-white hover:text-blue-600 bg-blue-500 rounded-lg hover:bg-white focus:outline-none focus:ring-blue-300 shadow" do %>
                           <svg class="w-4 h-4 md:w-5 md:h-5 text-white hover:text-black me-1 md:me-2" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
                              <path d="M144,1961.99734 L144,1963.99556 L141,1963.99556 L141,1966.9929 L139,1966.9929 L139,1963.99556 L136,1963.99556 L136,1961.99734 L139,1961.99734 L139,1959 L141,1959 L141,1961.99734 L144,1961.99734 Z M132.042,1970.89143 C132.028,1970.89143 132.014,1970.88943 132,1970.88943 C131.986,1970.88943 131.972,1970.89143 131.958,1970.89143 C130.875,1970.86845 130,1969.98524 130,1968.8972 C130,1967.79518 130.897,1966.89898 132,1966.89898 C133.103,1966.89898 134,1967.79518 134,1968.8972 C134,1969.98524 133.125,1970.86845 132.042,1970.89143 L132.042,1970.89143 Z M135.026,1971.4839 C135.625,1970.78552 136,1969.88932 136,1968.8972 C136,1966.69016 134.209,1964.90075 132,1964.90075 C129.791,1964.90075 128,1966.69016 128,1968.8972 C128,1969.88932 128.375,1970.78552 128.974,1971.4839 C126.057,1972.67385 124,1975.63821 124,1978.98224 C124,1979.0222 124.005,1978.98224 124.006,1978.98224 L126,1978.98224 C126,1975.69116 128.669,1972.91263 131.958,1972.88965 C131.972,1972.88965 131.985,1972.89365 132,1972.89365 C132.015,1972.89365 132.028,1972.88965 132.042,1972.88965 C135.331,1972.91263 138,1975.69116 138,1978.98224 L140,1978.98224 C140,1975.63821 137.943,1972.67484 135.026,1971.4839 L135.026,1971.4839 Z"></path>
                           </svg>
                           <span class="hidden sm:inline">Create Patient</span>
                        <% end %>
                     </div>
                  </div>
               <% end %>

               <div class="overflow-x-auto">
                  <table class="w-full shadow-md rounded-lg">
                      <!-- Table Header -->
                     <thead class="bg-gray-200 text-gray-700 text-xs md:text-sm font-semibold">
                        <tr>
                        <th class="py-2 px-3 md:py-3 md:px-6 text-left">Name</th>
                        <th class="py-2 px-1 md:py-3 md:px-6 text-left hidden md:table-cell">Created At</th>
                        <th class="py-2 px-1 md:py-3 md:px-6 text-center hidden sm:table-cell">Phone Number</th>
                        <th class="py-2 px-1 md:py-3 md:px-6 text-center hidden lg:table-cell">Email</th>
                        <th class="py-2 px-1 md:py-3 md:px-6 text-center">Status</th>
                        <th class="py-2 px-1 md:py-3 md:px-6 text-center">Actions</th>
                        </tr>
                     </thead>
                     <tbody class="text-black text-xs md:text-sm font-light">
                        <% @users.each do |user| %>
                           <% next if user.has_role?(:admin) || user.has_role?(:doctor) || user == current_user %>
                           <tr class="border-b border-gray-200 hover:bg-gray-100 mb-2 rounded-lg bg-white shadow">
                              <td class="py-2 px-3 md:py-3 md:px-6 flex items-center">
                                 <%= image_tag user.avatar_url, class: "w-8 h-8 md:w-10 md:h-10 rounded-full mr-2 md:mr-3 hover:opacity-80 transition-opacity" %>
                                 <div class="flex flex-col">
                                    <span class="flex items-center">
                                       <div class="<%= user.active? ? 'text-green-500' : 'text-red-500' %>">●</div>
                                       &nbsp;<span class="truncate max-w-[100px] md:max-w-none"><%= user.first_name %> <%= user.last_name %></span>
                                    </span>
                                    <span class="text-xs text-gray-500 md:hidden"><%= user.phone_number %></span>
                                 </div>
                              </td>
                              <td class="p-1 md:p-2 text-xs md:text-sm hidden md:table-cell"><%= user.created_at.strftime("%d %b %Y, %I:%M %p") %></td>
                              <td class="py-2 px-1 md:py-3 md:px-6 text-center text-xs md:text-sm hidden sm:table-cell"><%= user.phone_number %></td>
                              <td class="py-2 px-1 md:py-3 md:px-4 text-center text-xs md:text-sm hidden lg:table-cell"><%= user.email %></td>
                              <td class="py-2 px-1 md:py-3 md:px-6 text-center">
                                 <% 
                                    common_classes = "text-white focus:outline-none focus:ring-4 font-medium rounded-full text-xs md:text-sm px-2 py-1 md:px-4 md:py-2 text-center min-w-[80px] md:min-w-[100px]"
                                    active_classes = "bg-green-400 hover:bg-green-600 focus:ring-green-300"
                                    inactive_classes = "bg-red-400 hover:bg-red-600 focus:ring-red-300"
                                 %>
                                 <%= button_to user.active? ? "Deactivate" : "Activate",
                                    toggle_status_manage_user_path(user),
                                    method: :patch,
                                    remote: true,
                                    class: "#{common_classes} #{user.active? ? inactive_classes : active_classes}"
                                 %>
                              </td>
                              <td class="py-2 px-1 md:py-3 md:px-6 text-center">
                                 <div class="flex gap-1 md:gap-3">
                                    <div class="relative inline-block gap-1" x-data="{ open: false }">
                                       <div class="w-8 md:w-12">
                                          <button @click="open = !open" type="button" class="inline-flex justify-center gap-x-1.5 rounded-md bg-white px-1 py-1 md:px-3 md:py-2 hover:cursor-pointer text-xs md:text-sm font-semibold text-gray-900 ring-gray-400 ring-inset hover:bg-gray-50">
                                             <img src="<%= asset_path('dots.svg') %>" alt="" class="w-4 h-4 md:w-5 md:h-5">
                                          </button>
                                       </div>
                                       <div x-show="open" @click.outside="open = false" class="absolute right-0 z-10 mt-2 w-24 md:w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none">
                                          <div class="py-1">
                                             <%= link_to "Delete", manage_user_path(user), data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "text-red-600 hover:text-red-800 block px-4 py-1 text-xs md:text-sm font-semibold" %>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                        <% end %>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Flash Message (Centered at Bottom) -->
   <div class="fixed bottom-5 left-1/2 transform -translate-x-1/2 w-[90%] max-w-md">
      <div id="flash-messages" class="text-center">
         <% if flash[:notice] %>
            <div class="bg-green-200 text-green-800 px-4 py-2 rounded-lg shadow-md">
               <%= flash[:notice] %>
            </div>
         <% elsif flash[:alert] %>
            <div class="bg-red-200 text-red-800 px-4 py-2 rounded-lg shadow-md">
               <%= flash[:alert] %>
            </div>
         <% end %>
      </div>
   </div>

   <!-- Auto Dismiss Flash Message -->
   <script>
      setTimeout(() => {
         const flashMessage = document.getElementById("flash-messages");
         if (flashMessage) {
            flashMessage.style.opacity = "0";
            setTimeout(() => flashMessage.remove(), 500);
         }
      }, 3000); // Hides after 3 seconds
   </script>
</body>
</html>