<%# /home/hp/Desktop/auth2/devise_auth/app/views/manage_users/upload.html.erb %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upload Patient</title>
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">
     <%# navbar %>
     <nav class="flex  md:py-2 md:mx-4">
         <div class="flex w-full md:px-6 justify-between items-center">
           <%= link_to manage_users_path do %>
            <div class="flex gap-4 p-3 items-center">
               <p class="text-1xl md:text-3xl font-serif font-semibold text-gray-600">Upload(CSV/XLSX)</p>
            </div>
            <% end %>

            <div class="flex gap-4 items-center">
              <%= image_tag current_user.avatar_url, class: "w-6 h-6 md:w-10 md:h-10 rounded-full" %>
               <div class="">
                  <h2 class="md:text-lg mb-1"><%= current_user.first_name %> <%= current_user.last_name %></h2>
               </div>
            </div>

         </div>
      </nav>

<hr class="w-full">

<div class="container mt-[15%] md:mt-[5%] mx-auto p-6 flex justify-center items-center h-full">
  <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md  border border-gray-300 rounded-lg shadow-md">
    
    <%= link_to "Back to Patients", manage_users_path, class: "text-blue-500 hover:text-blue-700 mb-4 inline-block" %>
    
    <%= form_with url: upload_users_manage_users_path, multipart: true, method: :post, class: "space-y-4" do |f| %>
      <div>
        <label class="block font-semibold">Choose File</label>
        <%= f.file_field :file, required: true, accept: ".csv, .xlsx", class: "border p-2 rounded w-full focus:ring-2 focus:ring-blue-400" %>
      </div>
      <div class="flex justify-center">
        <%= f.submit "Upload", class: "bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>

</body>
</html>